.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

.container::after, .container-fluid::after, .row::after {
  content: '';
  display: block;
  clear: both;
  zoom: 1;
}

.container-fluid {
  box-sizing: border-box;
  width: 100%;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12, .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12, .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12, .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
  height: 100%;
  padding: 0 15px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
  box-sizing: border-box;
  float: left;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: 100%;
}

/* sm */
@media (min-width: 769px) {
  .container {
    max-width: 750px;
  }
  .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
  
  .col-sm-2 {
    width: 16.66666667%;
  }
  
  .col-sm-3 {
    width: 25%;
  }
  
  .col-sm-4 {
    width: 33.33333333%;
  }
  
  .col-sm-5 {
    width: 41.66666667%;
  }
  
  .col-sm-6 {
    width: 50%;
  }
  
  .col-sm-7 {
    width: 58.33333333%;
  }
  
  .col-sm-8 {
    width: 66.66666667%;
  }
  
  .col-sm-9 {
    width: 75%;
  }
  
  .col-sm-10 {
    width: 83.33333333%;
  }
  
  .col-sm-11 {
    width: 91.66666667%;
  }
  
  .col-sm-12 {
    width: 100%;
  }
}

/* md */
@media (min-width: 993px) {
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    float: left;
  }

  .container {
    max-width: 970px;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
  
  .col-md-2 {
    width: 16.66666667%;
  }
  
  .col-md-3 {
    width: 25%;
  }
  
  .col-md-4 {
    width: 33.33333333%;
  }
  
  .col-md-5 {
    width: 41.66666667%;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-7 {
    width: 58.33333333%;
  }
  
  .col-md-8 {
    width: 66.66666667%;
  }
  
  .col-md-9 {
    width: 75%;
  }
  
  .col-md-10 {
    width: 83.33333333%;
  }
  
  .col-md-11 {
    width: 91.66666667%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

/* lg */
@media (min-width: 1201px) {
  .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
    float: left;
  }

  .container {
    max-width: 1170px;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
  
  .col-lg-2 {
    width: 16.66666667%;
  }
  
  .col-lg-3 {
    width: 25%;
  }
  
  .col-lg-4 {
    width: 33.33333333%;
  }
  
  .col-lg-5 {
    width: 41.66666667%;
  }
  
  .col-lg-6 {
    width: 50%;
  }
  
  .col-lg-7 {
    width: 58.33333333%;
  }
  
  .col-lg-8 {
    width: 66.66666667%;
  }
  
  .col-lg-9 {
    width: 75%;
  }
  
  .col-lg-10 {
    width: 83.33333333%;
  }
  
  .col-lg-11 {
    width: 91.66666667%;
  }
  
  .col-lg-12 {
    width: 100%;
  }
}